<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
		{% if cat is not None %}
			<h1>Rango says...Category does not exist</h1>
		{% else %}
			<h1>Rango says...Add a page</h1>
			<div>
				<form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
					{% csrf_token %}
					{% if slug_exists %}
						<strong>Category already exists.</strong> Note: names are case insensitive.</br></br>
					{% endif %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
					{% endfor %}
					<input type="submit" name="submit" value="Create Page" />
				</form>
			</div>	
		{% endif %}
    </body>

</html>