<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
			hello world! <br />
		</div>
		
		<div>
		<h2>Most Liked Categories</h2>
		{% if categories %}
		<ul>
			{% for category in categories %}
				<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories.</strong>
		{% endif %}
		</div>		
		
		<div>
		<h2>Most Viewed Pages</h2>
		{% if pages %}
		<ul>
			{% for page in pages %}
				<li><a href="/rango/page/{{ page.slug }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no pages.</strong>
		{% endif %}
		</div>	
		
		<div>
			<a href="{% url 'rango:about' %}">About</a><br />
			<img src="{% static "rango/images/rango.jpg" %}"
				alt="Rango" />
		</div>
    </body>

</html>