{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	User Profile List
{% endblock %}

{% block nav-list-profile %}
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'rango:list_profiles' %}">List Profiles<span class="sr-only">(current)</span></a>
	</li>
{% endblock %}

{% block body_block %}
	<h1>User Profiles</h1><br/>
	
	<div class="panel">
		{% if userprofile_list %}
			<div class="panel-body">
				<div class="list-group">
					{% for listuser in userprofile_list %}
						<div class="list-group-item list-group-item-action">
							<div style="padding: 0 5px 0 0">
								<h4 class="list-group-item-heading">
									<a href="{% url 'rango:profile' listuser.user.username %}">
										{{ listuser.user.username }}</a>
								</h4>
							</div>
							{% if listuser.picture %}
								<img src="{{ MEDIA_URL }}{{ listuser.picture }}"
									width = "64"
									height = "64"
									alt = "{{ listuser.user.username }}" />
							{% else %}
								<img src="http://lorempixel.com/64/64/people/"
									width = "64"
									height = "64"
									alt = "{{ listuser.user.username }}" />
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<p>There are no users for this site</p>
		{% endif %}
	</div>	
{% endblock %}