{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}

{% block nav-login %}
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'auth_login' %}">Login<span class="sr-only">(current)</span></a>
	</li>
{% endblock %}

{% block body_block %}
	<h1>Login Page</h1> <br />
	{% if login_error == 'user' %}
		<strong>Username does not exist</strong>
	{% elif login_error == 'pass' %}
		<strong>Password is incorrect</strong>
	{% endif %}
	<form id="login_form" method="post" action="{% url 'rango:login' %}">
		{% csrf_token %}
		Username: <input type="text" name="username" value="" size ="50" />
		<br />
		Password: <input type="password" name="password" value="" size ="50" />
		<br />
		<input type="submit" value="submit" />
	</form>		
{% endblock %}